.card {
    background-color: #ffffff;
    width: 276px !important;
    height: 276px !important;
    margin: 12px;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.10);
    border: none;
    position: relative;

    &:hover {
        top: -12px;
        width: 276px;
        height: 276px;
        
        .buy-item-hover {
            opacity: 1; //cambiar a 1
        }

        .buy-coins-hover {
            opacity: 0; //cambiar a 1
        }

        &.buy-logo-disappear {
            opacity: 0;
        }
    }

    .buy-item-hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(-180deg, rgba(10, 212, 250, .7) 0%,rgba(37, 187, 241, .7) 100%);
        opacity: 0;
        transition: all .3s;
    }

    .buy-coins-hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:rgba(97, 97, 97, 0.8);
        opacity: 0; 
        transition: all .3s;
    }

    .buy-logo {
        margin-top: 12px;
        margin-right: 12px;
    }

    .card-title {
        justify-content: space-between;
    }

    .buy-menu {
        &.coins {
            font-size: 36px;
            color: #ffffff;
            letter-spacing: -0.08px;
            text-align: center;
            margin-top: 46px;
            margin-bottom: 12px;
        }

        &.button {
            background: #ffffff;
            width: 228px;
            height: 42px;
            border-radius: 100px;
            margin: auto;
            margin-bottom: 77px;
            text-align: center;
        }
    }
}