.action-bar {
    align-items: center;
    margin: 65px 0px 67px;

    .action-bar-container {
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 100%;
    }
}