.total-products {
    font-size:24px;
    color:#616161;
    letter-spacing:-0.15px;
    line-height:48px;
    text-align:left;
    white-space: nowrap;
    margin-right: 24px;

    @media (max-width: 1150px) {
        margin-right: 12px;
    }
}